<div class="row">
    <h2>{{title}}</h2>
    <div class="col-md-12">
        <label for="name">Nazwa produktu</label>
        <input id="name" ng-model="product.name" />
        <label for="price">Cena produktu</label>
        <input id="price" ng-model="product.price" />
        <label for="category">Kategoria produktu</label>
        <select id="category" ng-model="product.category" ng-options="category as category.name for category in categories"> </select>
        <button ng-click="addProduct()">Dodaj</button>
    </div>
</div>
