<div class="row">
    <h2>{{title}}</h2>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>kategoria</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in cartProducts">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td><button title="Usuń produkt" class="btn btn-danger" ng-click="remove(product.id)">&times;</button></td>
            </tr>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="#/"><button class="btn btn-primary">Kontynuuj zakupy</button></a>
        </div>
        <div class="col-md-6">
            <a href="#/order"><button class="btn btn-primary">Złóż zamówienie</button></a>
        </div>
    </div>
</div>
