<div class="row">
    <h1>{{title}}</h1>
    <div class="col-md-6">
        <label>Kategorie:</label>
        <select ng-model="categorySelected" ng-options="category as category.name for category in categories"> </select>
        <h5 ng-if="categorySelected">Wybrana kategoria: {{categorySelected.name}}</h5>

    </div>

    <div class="col-md-6">
        <label>Szukaj: </label>
        <input ng-model="query">
        <div ng-if="query.length > 0"><h5>Wyniki wyszukiwania: {{query}}</h5></div>
        <div ng-if="query.length == 0"><h5>Ilość elementów: {{products.length}} </h5></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 gallery-listing" ng-repeat="product in products | filter:query ">
        <a href="#/product/{{product.id}}">
            <img ng-src="{{product.thumbnailUrl}}" class="img-responsive">
        </a>
        <h3><a href="#/product/{{product.id}}">{{product.name}}</a></h3>
        <p><strong>Cena:</strong> {{product.price}}</p>
        <p><strong>Kategoria:</strong> {{product.category}}</p>
        <p><button class="btn btn-info" ng-click="addToCart(product.id)">Dodaj do koszyka</button></p>
    </div>
    <div class="col-md-12">
        <ul uib-pagination
            ng-model="currentPage"
            class="pagination-sm"
            total-items="productsNumber"
            max-size="maxSize"
            items-per-page="productsPerPage"
            boundary-link-numbers="true"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
        </ul>
        <div class="col-md-12">
            <a href="#/cart"><button class="btn btn-primary">Zakończ zakupy</button></a>
        </div>
    </div>
</div>
