<!doctype html>
<html ng-app="portfolioApp" ng-controller="GalleryListCtrl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <title ng-if="query.length == 0">Moja galeria</title>
        <title ng-if="query.length > 0" ng-bind-template="{{query}}">{{query}}</title>
    </head>

    <body>
        <div class="container">

            <div ng-view></div>
        </div>
    </body>
</html>
